#cuadro1{
    height: 200px;
    width: 3000;
    background-color: rgb(201, 153, 194);
}

#cuadro2{
    height: 200px;
    width: 3000;
    background-color: rgb(158, 103, 150);
}

#cuadro3{
    height: 200px;
    width: 3000;
    background-color: rgb(128, 104, 124);
}